.bg-header {
    background-color: #FED7FF;
}
.logo {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.logo-icon {
    font-size: 24px;
    color: #007bff; /* Primary color */
    margin-right: 10px;
}

.logo-text {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.logo-text span {
    font-weight: normal;
    color: #007bff; /* Accent color */
}
.header-left {
    padding-top:  48px;
    padding-bottom: 30px;
}
.header-right {
    padding-top: 38px;
    padding-bottom: 37px;
}
.search-box{
    padding-top: 3px;
    position: relative;
    padding-left: 30px;
}
.btn-search {
    position: absolute;
    top: 3px;
    left: 216px;
}
.input-search-header {
    width: 35%;
    border-radius: 20px;
    border: 1px solid #c2c2c2;
    outline: none !important;
    background-color:#FED7FF; 
    
}

.nav-header li a {
    color: black;
    padding-right: 60px;
    margin-top: 13px;
}
.last-nav{
    margin-top: 13px;
}
.userName{
    font-size: 16px;
}
.btn-sign-out{
    background-color: #2C2C2C;
    color: #FED7FF;
}

.input-search-header::-webkit-search-clear-button {
    -webkit-appearance: none;
    appearance: none;
}

.input-search-header::-moz-search-clear-button {
    display: none;
}

.input-search-header::-ms-clear {
    display: none;
}

