.notification-panel {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10px;
  top: 50px;
  width: 300px;
  z-index: 1000;
}

.notification-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333; 
}

.notification-section {
  margin-bottom: 20px;
}

.notification-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333; /* Ensure section titles are visible */
}

.friend-request {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.friend-request-content {
  flex-grow: 1;
  color: #333; /* Adjust text color to a dark color */
}

.request-info {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.request-actions {
  margin-top: 10px;
}

.accept-button, .reject-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.accept-button {
  background-color: #b5b5b5;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}

.reject-button {
  background-color: #000000;
  color: white;
}

.newest-notification {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.notification-content {
  font-size: 14px;
  flex-grow: 1;
  color: #333; 
}

.comment {
  display: block;
  margin-top: 5px;
  font-style: italic;
  color: #555; /* Adjust comment color to be visible */
}

/* Styles for different notification types */
.friendAccepted {
  background-color: #e6ffe6; /* Light green background for accepted friend requests */
}

.groupRequest {
  background-color: #e6f7ff; /* Light blue background for group requests */
}

/* Hover effect for notifications */
.newest-notification:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

/* Styles for read/unread statuses */
.notification-unread {
  background-color: #f5f5f5;
  position: relative; /* Required for positioning the dot */
}

.notification-unread::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px; /* Align the dot to the right side */
  width: 10px;
  height: 10px;
  background-color: #FED7FF; 
  border-radius: 50%;
  transform: translateY(-50%); /* Center the dot vertically */
}

.notification-read {
  font-weight: normal;
  background-color: #fff;
}

