.container-post{
    position: relative;
 
    margin-top: 10px;
    background-color: #F6F6F6;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 1px solid #a7a6a6;
}
.post-info{
    margin-top: 18px;
}
.post-info h3{
    margin-bottom: 2px;
} 
.post-content {
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-image img{
    width: 30%;
    height: 100%;
}
.number-of-interaction{
    margin-top: 30px;
    border-top: 1px solid black;
    padding-top: 15px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #d8d8d8;
}
.reaction{
    padding-bottom: 15px;
    padding-top: 15px;
}
.reaction button{
   border: none;
   background-color: #F6F6F6;
}
.modal-overlay-report {
    position: fixed;  /* Fix the overlay to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it's on top */
}

.modal-content-report {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 800px; /* Adjust size as needed */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Modal shadow */
}
