/* Register.css */
.register-page {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  .register-page .register-container-position {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .register-page .register-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px;
  }
  
  .register-page h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .register-page button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px auto; 
    border: none;
    cursor: pointer;
    width: 40%;
    border-radius: 5px;
    font-size: 16px;
    display: block; 
  }
  
  
  button:hover {
    opacity: 0.9;
  }
  
  .register-page .forgot {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #666;
  }
  
  .register-page .signup {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-page .signup a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .register-page .signup a:hover {
    text-decoration: underline;
  }

  .register-page .signup p{
    font-size: 24px;
    margin: 20px;
  }
  
  .register-page .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }