.container-post{
    position: relative;
    padding-left: 33px;
 
    margin-top: 10px;
    background-color: #F6F6F6;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 1px solid #a7a6a6;
}
.post-info{
    margin-top: 18px;
}
.post-info h3{
    margin-bottom: 2px;
} 
.post-content {
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-image img{
    width: 30%;
    height: 100%;
}
.number-of-interaction{
    margin-top: 30px;
    border-top: 1px solid black;
    padding-top: 15px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #d8d8d8;
}
.reaction{
    padding-bottom: 15px;
    padding-top: 15px;
}
.reaction button{
   border: none;
   background-color: #F6F6F6;
}
